<div id="<%= dom_id recommendation %>">
  <p>
    <strong>Instructor email:</strong>
    <%= recommendation.instructor_email %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= recommendation.course_id %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= recommendation.section_id %>
  </p>

  <p>
    <strong>Student email:</strong>
    <%= recommendation.student_email %>
  </p>

  <p>
    <strong>Testimonial:</strong>
    <%= recommendation.testimonial %>
  </p>

</div>
